<div class="dashboard">

    <div class='container-fluid'>

        <div class='page-users'>
            <div class='row table-user'>
                <div class='col-md-12'>
                    <h1>Dashboard</h1>
                    <h2>List of Users</h2>
                    <a class='btn btn-warning mb-3' href='/dashboard/create-user' role='button'>Create New User</a>
                    <table class='table table-striped'>
                        <thead class="bg-dark text-light">
                            <tr>
                                <th scope='col'>ID</th>
                                <th scope='col'>Username</th>
                                <th scope='col'>First Name</th>
                                <th scope='col'>Last Name</th>
                                <th scopr='col'>Country</th>
                                <th scope='col'>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user=> { %>
                                <tr>
                                    <td>
                                        <%= user.id %>
                                    </td>
                                    <td>
                                        <%= user.username %>
                                    </td>
                                    <td>
                                        <%= user.user_biodatum.firstname %>
                                    </td>
                                    <td>
                                        <%= user.user_biodatum.lastname %>
                                    </td>
                                    <td>
                                        <%= user.user_biodatum.country %>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary w-25" href="/dashboard/edit-user/<%=user.id%>"
                                            role="button">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a class="btn btn-danger w-25" href="dashboard/delete-user/<%=user.id%>"
                                            role="button"><i class="bi bi-trash"></i></a>
                                        <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>