<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- root CSS -->
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
        <!-- game css -->
        <link rel="stylesheet" href="/css/dashboard.css">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="icon" href="/assets/img/logo.png">
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <!-- header starts -->
        <header>
            <nav class="navbar index-nav navbar-expand-lg bg-first navbar-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/">Logo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-links collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav nav-links">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">
                                    HOME
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/work">
                                    WORK
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">
                                    ABOUT
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-acounts collapse navbar-collapse" id="navbarNav">
                        <% if ( login) { %>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">
                                        LOGOUT
                                    </a>
                                </li>
                            </ul>
                            <% } else { %>
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">
                                            LOGIN
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/signup">
                                            SIGN UP
                                        </a>
                                    </li>
                                </ul>
                                <% } %>
                    </div>
                </div>
            </nav>
        </header>
        <!-- header ends -->
        <%- body %>
            <!-- footer starts  -->
            <footer class="main-footer d-flex align-items-center" role="contentinfo">
                <div class="container m-auto">
                    <div class="footer-top d-flex justify-content-end">
                        <div class="footer-links row">
                            <div class="col-md footer-link">
                                <div class="footer-pad">
                                    <a class="" href="#main">main</a>
                                </div>
                            </div>
                            <div class="col-md footer-link">
                                <div class="footer-pad">
                                    <a href="#about">about</a>
                                </div>
                            </div>
                            <div class="col-md footer-link">
                                <div class="footer-pad">
                                    <a href="#features">features</a>
                                </div>
                            </div>
                            <div class="col-md footer-link">
                                <div class="footer-pad">
                                    <a href="#requirements">requirements</a>
                                </div>
                            </div>
                            <div class="col-md footer-link">
                                <div class="footer-pad ">
                                    <a href="#quotes">quotes</a>
                                </div>
                            </div>
                            <div class="col-md footer-link-contact d-flex justify-content-end">
                                <img class="footer-pad " src="/assets/img/facebook.svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                </img>
                            </div>
                            <div class="col-md footer-link-contact d-flex justify-content-end">
                                <img class="footer-pad" src="/assets/img/twitch.svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                </img>
                            </div>
                            <div class="col-md footer-link-contact d-flex justify-content-end">
                                <img class="footer-pad" src="/assets/img/twitter.svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                </img>
                            </div>
                            <div class="col-md footer-link-contact d-flex justify-content-end">
                                <img class="footer-pad" src="/assets/img/Vector.svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="row footer">
                            <div class="col-md-6 copy-right text-secondary">
                                <p class="text-start">&copy; Copyright 2018 - Your Games, Inc. All rights reserved.
                                </p>
                            </div>
                            <div class="col-md-6 copy ms-auto text-white    ">
                                <p class="text-end">PRIVACY POLICY | TERMS OF SERVICE | CODE AND CONDUCT
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer ends -->
            <!-- Option 1: Bootstrap Bundle with Popper -->

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/alert.js"></script>

    </body>

</html>