.bg-first {
  background-color: rgb(14, 0, 65);
}
.bg-second {
  background-color: #f2f2f2;
}

.login-screen {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#login,
#signup {
  padding: 4rem;
  border-radius: 1rem;
}

.form-login {
  height: fit-content;
  background-color: rgb(209, 209, 209);
}

.form-control {
  color: rgb(29, 29, 29) !important;
}

/* user */
.page-user {
  height: 140vh;
}

.table-user {
  height: 100vh;
  margin-top: auto !important;
  margin-bottom: auto !important;
  /* justify-content: center !important; */
}

.w-100 {
  width: 100% !important;
}
