<section class="page-500 h-100">
    <div class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column " style="font-weight: bold;">
                <h1 class="text align-self-center p-2">500 | ERROR</h1>
                <p>
                    <%= message %>
                </p>
                <p>
                    <%= error.status %>
                </p>
                <pre><%= error.stack %></pre>

            </div>
        </div>
    </div>
</section>