<!-- main screen starts -->
<div class='login-screen' id='main'>
    <div class='container h-100'>
        <div class='row h-100 justify-content-center align-items-center'>
            <form method='POST' action='/auth-local/login' class='col-md-6 bg text-light form-login' id='login'>
                <% if (messages.error) { %>
                    <div class="alert alert-danger ">

                        <%- messages.error %>
                    </div>
                    <% } %>
                        <div class='form-content-login'>
                            <div class='mb-3'>
                                <label for='username' class='form-label'>USERNAME</label>
                                <input type='username' name='username' class='form-control transparent-input text-light'
                                    id='username' aria-describedby='username' placeholder='input your username'
                                    required />
                            </div>
                            <div class='mb-5'>
                                <label for='exampleInputPassword1' class='form-label'>PASSWORD</label>
                                <input type='password' name='password' class='form-control transparent-input text-light'
                                    id='exampleInputPassword1' aria-describedby='passwordHelp'
                                    placeholder='input your password' required />
                            </div>
                            <div class="text-center ">
                                <button type='submit' class='btn btn--custom mb-5'>
                                    LOGIN
                                </button>
                                <p class="">
                                    Don't have an account ?
                                </p>
                                <a href="/signup">
                                    <button type='button' class='btn btn--custom '>
                                        SIGN UP
                                    </button>
                                </a>
                            </div>
                        </div>
            </form>
        </div>
    </div>
</div>